
<app-navbar></app-navbar>
<div class="wrapper" >
  <div class="container" >
    <div class="row">
      <app-sidebar></app-sidebar>
      <!--/.span4-->
      <div class="span9" >
        <div class="content">

          <div class="module">
            <div class="module-head">
              <h3>Ajouter une nouvelle demande</h3>
            </div>
            <div class="module-body" *ngIf="addOk">
              <div class="row">
                <div class="span8" style = "text-align: center">
                  <h2 class="text-success">Demande ajoutée.</h2>
                  <div class="span2"></div>
                  <a routerLink="/demande" class="btn-box span2">
                    <i class="icon-arrow-left"></i>
                    <b>Retour aux demandes</b>
                  </a>
                  <div class="span1"></div>
                  <button class="btn-box span2" (click)="addOk = false">
                    <i class="icon-plus"></i>
                    <b>Ajouter nouveau</b>
                  </button>
                  <div class="span1"></div>
                </div>
              </div>
            </div>
            <div class="module-body" *ngIf="!addOk">
              <div class="row">
                <div class="form-group span8" *ngIf="isRh">
                  <label >Collaborateur</label>
                  <div class="controls" *ngIf="typeDemande === 'travail'">
                    <select class="form-control" style="width: 100%;" [(ngModel)]="newDemandeTravail.collaborateur" [ngStyle]="{'border-color':newDemandeTravailErr.collaborateur ? 'red' : '' }">
                      <option *ngFor="let t of collabs"  [ngValue]="t">{{t.nom + ' ' + t.prenom}}</option>
                    </select>
                    <span class="help-inline" style="color:red;" *ngIf="newDemandeTravailErr.collaborateur">Veuillez choisir</span>
                  </div>
                  <div class="controls" *ngIf="typeDemande === 'sortie'">
                    <select class="form-control" style="width: 100%;" [(ngModel)]="newDemandeSortie.collaborateur" [ngStyle]="{'border-color':newDemandeSortieErr.collaborateur ? 'red' : '' }">
                      <option *ngFor="let t of collabs"  [ngValue]="t">{{t.nom + ' ' + t.prenom}}</option>
                    </select>
                    <span class="help-inline" style="color:red;" *ngIf="newDemandeSortieErr.collaborateur">Veuillez choisir</span>
                  </div>
                  <div class="controls" *ngIf="typeDemande === 'absence'">
                    <select class="form-control" style="width: 100%;" [(ngModel)]="newDemandeAbs.collaborateur" [ngStyle]="{'border-color':newDemandeAbsErr.collaborateur ? 'red' : '' }">
                      <option *ngFor="let t of collabs"  [ngValue]="t">{{t.nom + ' ' + t.prenom}}</option>
                    </select>
                    <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.collaborateur">Veuillez choisir</span>
                  </div>
                  <div class="controls" *ngIf="typeDemande === 'attestation'">
                    <select class="form-control" style="width: 100%;" [(ngModel)]="newDemandeAttes.collaborateur" [ngStyle]="{'border-color':newDemandeAttesErr.collaborateur ? 'red' : '' }">
                      <option *ngFor="let t of collabs"  [ngValue]="t">{{t.nom + ' ' + t.prenom}}</option>
                    </select>
                    <span class="help-inline" style="color:red;" *ngIf="newDemandeAttesErr.collaborateur">Veuillez choisir</span>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Type de demande</label>
                <div class="controls">
                  <label class="radio inline">
                    <input type="radio" value="absence" name="type" [(ngModel)]="typeDemande" checked="">
                    Absence
                  </label>
                  <label class="radio inline">
                    <input type="radio" value="attestation" name="type" [(ngModel)]="typeDemande">
                    Attestation
                  </label>
                  <label class="radio inline">
                    <input type="radio" value="sortie" name="type" [(ngModel)]="typeDemande">
                    Sortie
                  </label>
                  <label class="radio inline">
                    <input type="radio" value="travail" name="type" [(ngModel)]="typeDemande">
                    Travail
                  </label>
                </div>
              </div>
              <div *ngIf="typeDemande === 'travail'">
                <div class="row">
                  <div class="control-group span8">
                    <label class="control-label" >Date de travail</label>
                    <div class="controls">
                      <input type="date" class="span8" [(ngModel)]="newDemandeTravail.dateTravail" [ngStyle]="{'border-color':(newDemandeTravailErr.dateTravail || newDemandeTravailErr.dateTravail2 )? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeTravailErr.dateTravail">Date invalide</span>
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeTravailErr.dateTravail2">Date dépassée</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="control-group span4">
                    <label class="control-label" >Type</label>
                    <div class="controls">
                      <input type="number" min="0" step="1" class="span4" [(ngModel)]="newDemandeTravail.type" [ngStyle]="{'border-color':(newDemandeTravailErr.type)? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeTravailErr.type">Type invalide</span>
                    </div>
                  </div>
                  <div class="control-group span4">
                    <label class="control-label" >Nombre des heurs</label>
                    <div class="controls">
                      <input type="number" min="0" step="0.01" class="span4" [(ngModel)]="newDemandeTravail.nombreHeures" [ngStyle]="{'border-color':(newDemandeTravailErr.nombreHeures)? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeTravailErr.nombreHeures">Nombre invalide</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="control-group span4">
                    <label class="control-label" >Heure de début</label>
                    <div class="controls">
                      <input type="time" class="span4" [(ngModel)]="newDemandeTravail.heureDebut" [ngStyle]="{'border-color':(newDemandeTravailErr.heureDebut)? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeTravailErr.heureDebut">Heure invalide</span>
                    </div>
                  </div>
                  <div class="control-group span4">
                    <label class="control-label" >Heure de fin</label>
                    <div class="controls">
                      <input type="time" class="span4" [(ngModel)]="newDemandeTravail.heureFin" [ngStyle]="{'border-color':(newDemandeTravailErr.heureFin)? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeTravailErr.heureFin">Heure invalide</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group span8">
                    <label >Observation</label>
                    <div class="controls">
                      <textarea class="form-control span8" style="  resize: none; " [(ngModel)]="newDemandeTravail.observation" placeholder="Observation.. (facultatif)">
                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="span7"></div>
                  <div class="span1">
                    <button class="btn btn-success" (click)="addDemandeTravail()">
                      <i class="icon-plus"></i>
                      Ajouter
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="typeDemande === 'sortie'">
                <div class="row">
                  <div class="control-group span4">
                    <label class="control-label" >Date de sortie</label>
                    <div class="controls">
                      <input type="date" class="span4" [(ngModel)]="newDemandeSortie.dateSortie" [ngStyle]="{'border-color':(newDemandeSortieErr.dateSortie || newDemandeSortieErr.dateSortie2 )? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeSortieErr.dateSortie">Date invalide</span>
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeSortieErr.dateSortie2">Date dépassée</span>
                    </div>
                  </div>
                  <div class="control-group span4">
                    <label class="control-label" >Heure de sortie</label>
                    <div class="controls">
                      <input type="time" class="span4" [(ngModel)]="newDemandeSortie.heureSortie" [ngStyle]="{'border-color':(newDemandeSortieErr.heureSortie)? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeSortieErr.heureSortie">Heur invalide</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="control-group span4">
                    <label class="control-label" >Heure de retour</label>
                    <div class="controls">
                      <input type="time" class="span4" [(ngModel)]="newDemandeSortie.heureReteur" [ngStyle]="{'border-color':(newDemandeSortieErr.heureReteur)? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeSortieErr.heureReteur">Heur invalide</span>
                    </div>
                  </div>
                  <div class="form-group span4">
                    <label >Motif de sortie</label>
                    <div class="controls">
                      <select class="form-control" style="width: 100%;" [(ngModel)]="newDemandeSortie.motifSortie" [ngStyle]="{'border-color':newDemandeSortieErr.motifSortie  ? 'red' : '' }">
                        <option *ngFor="let t of motifSortie"  [ngValue]="t">{{t.nom}}</option>
                      </select>
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeSortieErr.motifSortie">Veuillez choisir</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group span8">
                    <label >Observation</label>
                    <div class="controls">
                      <textarea class="form-control span8" style="  resize: none; " [(ngModel)]="newDemandeSortie.observation" placeholder="Observation.. (facultatif)">
                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="span7"></div>
                  <div class="span1">
                    <button class="btn btn-success" (click)="addDemandeSortie()">
                      <i class="icon-plus"></i>
                      Ajouter
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="typeDemande === 'attestation'">
                <div class="row">
                  <div class="form-group span8">
                    <label >Type d'attestation</label>
                    <div class="controls">
                      <select class="form-control" style="width: 100%;" [(ngModel)]="newDemandeAttes.typeAttestationEntreprise" [ngStyle]="{'border-color':newDemandeAttesErr.typeAttestationEntreprise  ? 'red' : '' }">
                        <option *ngFor="let t of typeAttestationEntreprise"  [ngValue]="t">{{t.nom}}</option>
                      </select>
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeAttesErr.typeAttestationEntreprise">Veuillez choisir</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group span8">
                    <label >Observation</label>
                    <div class="controls">
                      <textarea class="form-control span8" style="  resize: none; " [(ngModel)]="newDemandeAttes.observation" placeholder="Observation.. (facultatif)">
                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="span7"></div>
                  <div class="span1">
                    <button class="btn btn-success" (click)="addDemandeAttes()">
                      <i class="icon-plus"></i>
                      Ajouter
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="typeDemande === 'absence'">
                <div class="row">
                  <div class="control-group span4">
                    <label class="control-label" >Date de début</label>
                    <div class="controls">
                      <input type="date" class="span4" [(ngModel)]="newDemandeAbs.dateDebut" [ngStyle]="{'border-color':(newDemandeAbsErr.dateDebut || newDemandeAbsErr.dateDebut2)? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.dateDebut2">Date dépassée</span>
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.dateDebut">Date invalide</span>
                    </div>
                  </div>
                  <div class="control-group span4">
                    <label class="control-label" >Date de fin</label>
                    <div class="controls">
                        <input type="date" class="span4" [(ngModel)]="newDemandeAbs.dateFin" [ngStyle]="{'border-color': (newDemandeAbsErr.dateFin || newDemandeAbsErr.dateFin2 ) ? 'red' : '' }">
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.dateFin">Date invalide</span>
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.dateFin2">Date de fin doit être supérieur à date de début</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                <div class="control-group span4" >
                  <label class="control-label" >Exercice</label>
                  <div class="controls">
                    <input type="number" min="0" step="1" class="span4" [(ngModel)]="newDemandeAbs.exercice" [ngStyle]="{'border-color':newDemandeAbsErr.exercice ? 'red' : '' }">
                    <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.exercice" >Valeur refusé</span>
                  </div>
                </div>
                <div class="control-group span4">
                  <label class="control-label" >Jour ouvrable</label>
                  <div class="controls">
                    <input type="number" min="0" step="0.01" class="span4" [(ngModel)]="newDemandeAbs.jourOuvrable" [ngStyle]="{'border-color':newDemandeAbsErr.jourOuvrable ? 'red' : '' }">
                    <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.jourOuvrable">Valeur refusé</span>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="control-group span4">
                  <label class="control-label" >Repos</label>
                  <div class="controls">
                    <input type="number" min="0" step="0.01" class="span4" [(ngModel)]="newDemandeAbs.repos" [ngStyle]="{'border-color':newDemandeAbsErr.repos ? 'red' : '' }">
                    <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.repos">Valeur refusé</span>
                  </div>
                </div>
                <div class="control-group span4">
                  <label class="control-label" >Férier</label>
                  <div class="controls">
                    <input type="number" min="0" step="0.01" class="span4" [(ngModel)]="newDemandeAbs.feries" [ngStyle]="{'border-color':newDemandeAbsErr.feries ? 'red' : '' }">
                    <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.feries">Valeur refusé</span>
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="form-group span8">
                    <label >Motif d'absence</label>
                    <div class="controls">
                      <select class="form-control" style="width: 100%;" [(ngModel)]="newDemandeAbs.motifAbsence" [ngStyle]="{'border-color':newDemandeAbsErr.motifAbsence ? 'red' : '' }">
                        <option *ngFor="let t of motifAbs"  [ngValue]="t">{{t.nom}}</option>
                      </select>
                      <span class="help-inline" style="color:red;" *ngIf="newDemandeAbsErr.motifAbsence">Veuillez choisir</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group span8">
                    <label >Observation</label>
                    <div class="controls">
                      <textarea class="form-control span8" style="  resize: none; " [(ngModel)]="newDemandeAbs.observation" placeholder="Observation.. (facultatif)">
                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="span7"></div>
                  <div class="span1">
                    <button class="btn btn-success" (click)="addDemandeAbs()">
                      <i class="icon-plus"></i>
                      Ajouter
                    </button>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
