          <div class="span3" >
            <div class="sidebar">
              <ul class="widget widget-menu unstyled">
                <li class="active"><a href="index.html"><i class="menu-icon icon-dashboard"></i>Page
                </a></li>
                <li><a href="activity.html"><i class="menu-icon icon-bullhorn"></i>Page</a>
                </li>
                <li><a href="message.html"><i class="menu-icon icon-inbox"></i>Page <b class="label green pull-right">
                  11</b> </a></li>
                <li><a routerLink="/collaborateur"><i class="menu-icon icon-tasks"></i>Collaborateurs <b class="label orange pull-right">
                  19</b> </a></li>
              </ul>
              <!--/.widget-nav-->
              <ul class="widget widget-menu unstyled">
                <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i class="menu-icon icon-cog">
                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                </i>Paramaitres</a>
                  <ul id="togglePages" class="collapse unstyled">
                    <li><a routerLink="/type-activite"><i class="icon-inbox"></i>Type activité</a></li>
                    <li><a routerLink="/type-adresse"><i class="icon-inbox"></i>Type adresse</a></li>
                    <li><a routerLink="/type-attestation"><i class="icon-inbox"></i>Type attestation</a></li>
                    <li><a routerLink="/type-contrat"><i class="icon-inbox"></i>Type contrat</a></li>
                    <li><a routerLink="/type-departement"><i class="icon-inbox"></i>Type departement</a></li>
                    <li><a routerLink="/type-document"><i class="icon-inbox"></i>Type document</a></li>
                    <li><a routerLink="/type-email"><i class="icon-inbox"></i>Type email</a></li>
                    <li><a routerLink="/type-periode-departement"><i class="icon-inbox"></i>Type periode departement</a></li>
                    <li><a routerLink="/type-proche"><i class="icon-inbox"></i>Type proche</a></li>
                    <li><a routerLink="/type-reseau-social"><i class="icon-inbox"></i>Type reseau social</a></li>
                    <li><a routerLink="/type-salaire"><i class="icon-inbox"></i>Type salaire</a></li>
                    <li><a routerLink="/type-telephone"><i class="icon-inbox"></i>Type telephone</a></li>
                  </ul>
                </li>
                <li><a href="#"><i class="menu-icon icon-signout"></i>Page</a></li>
              </ul>
            </div>
            <!--/.sidebar-->
          </div>
          <!--/.span3-->

