<app-navbar></app-navbar>
<div class="wrapper" >
  <div class="container" >
    <div class="row">
      <app-sidebar></app-sidebar>
      <!--/.span3-->
      <div class="span9" >
        <div class="content">

          <div class="module">
            <div class="module-head">
              <h3>Changer le mot de passe</h3>
            </div>
            <div class="module-body">
              <div class="alert alert-success" *ngIf="upOk">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Votre mot de passe est à jour
              </div>

              <div class="form-group">
                <label >Ancient mot de passe</label>
                <div class="input-append">
                  <input type="password" placeholder="Mot de passe" [(ngModel)]="ancMdp" *ngIf="!showMdpAnc" class="span4"><span (click)="showMdpAnc = true" *ngIf="!showMdpAnc" style="cursor: pointer;" class="add-on"><i class="icon-eye-open"></i></span>
                  <input type="text" placeholder="Mot de passe" [(ngModel)]="ancMdp" *ngIf="showMdpAnc" class="span4"><span (click)="showMdpAnc= false" *ngIf="showMdpAnc" style="cursor: pointer;" class="add-on"><i class="icon-eye-close"></i></span>
                </div>
                <span class="help-inline" style="color:red;" *ngIf="isMdpAncErr">Mot de passe incorrect</span>
              </div>
              <div class="form-group">
                <label >Nouveau mot de passe:</label>
                <div class="controls ">
                  <div class="input-append">
                    <input type="password" placeholder="Mot de passe" [(ngModel)]="nvMdp" *ngIf="!showMdpNv" class="span4"><span (click)="showMdpNv = true" *ngIf="!showMdpNv" style="cursor: pointer;" class="add-on"><i class="icon-eye-open"></i></span>
                    <input type="text" placeholder="Mot de passe" [(ngModel)]="nvMdp" *ngIf="showMdpNv" class="span4"><span (click)="showMdpNv = false" *ngIf="showMdpNv" style="cursor: pointer;" class="add-on"><i class="icon-eye-close"></i></span>
                  </div>
                  <span class="help-inline" style="color:red;" *ngIf="isMdpNvErr">Min 8 characters</span>
                </div>
              </div>
              <div class="form-group">
                <label >Confirmer:</label>
                <div class="input-append">
                  <input type="password" placeholder="Mot de passe" [(ngModel)]="confMdp" *ngIf="!showMdpconf" class="span4"><span (click)="showMdpconf = true" *ngIf="!showMdpconf" style="cursor: pointer;" class="add-on"><i class="icon-eye-open"></i></span>
                  <input type="text" placeholder="Mot de passe" [(ngModel)]="confMdp" *ngIf="showMdpconf" class="span4"><span (click)="showMdpconf = false" *ngIf="showMdpconf" style="cursor: pointer;" class="add-on"><i class="icon-eye-close"></i></span>
                </div>
                <span class="help-inline" style="color:red;" *ngIf="isMdpconfErr">Confirmation incorrecte</span>
              </div>
              <button type="submit" class="btn btn-default" (click)="ok()">Valider</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
